Source: nucleoid
Section: libs
Priority: optional
Maintainer: Can Mingir <canmingir@gmail.com>
Build-Depends: debhelper (>= 10)
Standards-Version: 4.1.2
Homepage: https://nucleoid.org
Vcs-Git: https://gitlab.com/nucleoid/nucleoid
Vcs-Browser: https://git.nucleoid.org/cgit/nucleoid.git

Package: nucleoid
Architecture: amd64
Depends: nodejs, npm
Description: Declarative Runtime Environment
 Nucleoid is a runtime environment that allows declarative programming written
 in ES6 syntax. Since statements are declarative, the runtime provides logical
 integrity, multiprocessing, plasticity, persistency etc.
