# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.venv/

# Distribution / packaging
build/
dist/
*.egg-info/

# Unit test / coverage reports
.coverage
htmlcov/
.coverage.*

# Jupyter checkpoints
.ipynb_checkpoints/

# Environment files
.env
.env.*
